@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
/* tela de login */


.welcome{
  flex-direction: column;
  align-items:right;
  padding-left: 10px;
  justify-content: center;
  padding: 10px;
  font-size: calc(8px + 2vmin);
  background-image: linear-gradient(to right,#e5d6ff, #d3b9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


body {
  background: linear-gradient(to bottom, #8e86cd 0%, #c5bef0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  padding: 20px;
  outline: dashed 4px #ded2fd;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  min-height: fit-content;
  max-width: fit-content;
  padding: 30px;
  background-image: url(https://i.pinimg.com/originals/ae/5f/45/ae5f4530fc45074f9b347202171808ad.gif);
  background-size: cover;
  background-position: center;
}

.titlo{
  color:#ffffff;
  text-shadow: 2px 2px 2px #795fb7;
  text-align: center;
}

.email {
  color:#795fb7
}
.senha{
  color:#795fb7
}

.login input {
  height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #d1cde9;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 0px 5px 0px 5px;
  padding-left: 5px;
  padding: 3px;
  font-size: 20px;
  color:#c5bef0
}

.login input:-webkit-autofill {
    -webkit-text-fill-color: #967ad5;

}

.login button {
  background: linear-gradient(#8e86cd, #e2d9f0);
  border: 2px solid #d1cde9;
  height: auto;
  width: auto;
  margin: 7px;
  border-radius: 0px 5px 0px 5px;
  font-size: 15px;
  padding: 5px;
  color:rgb(255, 255, 255);
}

.login button:hover {
  background: linear-gradient(#7b70cc, #ccbce7);
}

/* header */
.App-header {
  max-height: fit-content;
  min-height: fit-content;
  display: top;
  flex-direction: column;
  align-items:right;
  padding-left: 10px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fefeff;
}

.App-link {
  color: #61dafb;
}

.icon{
  padding-right: 15px;  
}

/* menu */
.menu {
  position: relative;
  background-image: url(https://64.media.tumblr.com/f3cfaafb1ced902e0a868ab315f81a0b/213a772ae814f194-0f/s1280x1920/61807da950578f45297785903238b91b6e65c786.gif);
  background-position: top right;
  background-size: 30% auto; 
  width: 1400px;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
  height: auto;
  font-size: 20px;
  border-radius: 0px 5px 0px 5px;

}

.menu li{
  display: inline-block;
  padding: 15px;
  height: 20px;
  padding-inline: 35px;
  background-color: #bbb0f7;
  border-radius: 0px 5px 0px 5px;
}

.menu li:hover{
  background-color: #a79ce3;
}

.symbol{
  border-right: 2px solid #d2ccf4;
}

.logout-box {
  position: absolute;
  background-color: #bbb2ef;
  padding: 10px;
  border: 1px solid #bbb2ef;
  border-radius: 4px;
  box-shadow: 0 2px 4px #ffffff;
  display: none;
}

.logout-box button {
  background-color: #bbb2ef;
  border: 0px solid #d1cde9;
  height: auto;
  width: auto;
  margin: 7px;
  border-radius: 0px 5px 0px 5px;
  font-size: 15px;
  padding: 5px;
  color:rgb(255, 255, 255);
}

.logout-box button:hover {
  background-color: #8e80de;
}

.symbol:hover .logout-box {
  display: block;
}
.menu a{
  display:block;
  color: #fff;
  text-decoration:none;
  padding-inline: 35px;
  letter-spacing: 1px;
  text-align: justify;
}

.menu a:hover{
  display:block;
  color: #ded2fd;
  text-decoration:none;
  letter-spacing: 1px;
}

/* task manager */

/* fundo */
.tarefas {
  background-color: #ffffffa1;
  height: fit-content;
  margin-right: 10px;
  text-align: center;
  padding: 100px;
  display: flex;

}

.input-lista{
  display: flex;
  flex-direction: column;
}


/* definir a tarefa */
.adicionarTarefa {
  background: linear-gradient(#8e86cd, #e2d9f0);
  border: 2px solid #d1cde9;
  height: auto;
  width: auto;
  border-radius: 0px 5px 0px 5px;
  font-size: 20px;
  padding: 5px;
  color:rgb(255, 255, 255);
}

.adicionarTarefa:hover {
  background: linear-gradient(#7b70cc, #ccbce7);
}

.form {
  height: auto;
  border: 2px solid #d1cde9;
  margin-right: 5px;
  border-radius: 0px 5px 0px 5px;
  padding-left: 5px;
  padding: 5px;
  font-size: 20px;
  color:#c5bef0
}
.form:focus{
  color: 2px solid #d1cde9;
}
.form::placeholder {
  color:#c5bef0
}


/* definir a dificuldade */
.diff{
  height: auto;
  border: 2px solid #d1cde9;
  margin-right: 5px;
  border-radius: 0px 5px 0px 5px;
  padding-left: 5px;
  padding: 5px;
  font-size: 20px;
  color:#c5bef0;
}


/* definir a qtd de horas disponíveis */

.hours{
  height: auto;
  border: 2px solid #d1cde9;
  margin-right: 5px;
  border-radius: 0px 5px 0px 5px;
  padding-left: 5px;
  padding: 5px;
  font-size: 20px;
  color:#c5bef0
}

/* tabela de listagem das tarefas */

.listaTarefas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: auto;
  background-color: #d1cde9;
  border: 5px dotted #e2d9f0;
}

.listaTarefas table {
  list-style: none;
  border-collapse: collapse;
}

.listaTarefas th, td{
  color:#8e86cd;
  padding: 20px;
}

.listaTarefas tbody {
  border-radius: 10px;
  border-color:#a095e6;

}


/*grafico*/
.grafico {
  width: 300px;
  height: 300px;
  padding-left: 100px;
}


/* cronograma */

/* fundo 
.tarefas {
  background-color: #ffffffa1;
  height: fit-content;
  margin-right: 10px;
  text-align: center;
  padding: 100px;

}
*/
